[Unit]
Description=Square Webhook Logger
After=network.target

[Service]
Type=simple
User=webapp
WorkingDirectory=/home/webapp/webhook_logger
ExecStart=/usr/bin/env bundle exec rackup -o 0.0.0.0 -p 4567
Restart=always

[Install]
WantedBy=multi-user.target
